.element__like {
  all: unset;
  flex-shrink: 0;
  width: 20px;
  height: 30px;
  background: url('../../../images/like.svg') center/contain no-repeat;
  cursor: pointer;
}

.element__like:hover {
  transition: opacity .6s ease;
  opacity: 0.5;
}