.page__header {
  margin-bottom: 40px;
}

@media screen and (max-width: 740px) {
  .page__header {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 425px) {
  .page__header {
    padding: 0 27px;
    margin-left: -19px;
    margin-right: -19px;
  }
}